.PriceCard {
  background-color: white;
  width: calc(100vw - 3em);
  margin: 1.5em;
  margin-left: 1.5em;
  padding: 2em;
  box-sizing: border-box;
  border-radius: 0.7em;
  box-shadow: 0 0.5em 3em -1em $Light_Purple;
  transition: width 1s ease;
  transition: height 1s ease;
  transition: background 1s ease;

  &-title {
    color: $Grayish_Blue;
    @include font();
  }

  &-ammount {
    @include font();
    font-weight: bold;
    font-size: 3em;
    color: $Dark_Grayish_Blue;

    &::before {
      content: "$";
      font-size: 0.6em;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      bottom: 0.15em;
    }
  }

  &-list {
    list-style: none;
    padding: 0;
  }

  &-listItem {
    padding: 1em 0;
  }

  &-listItem:not(:last-child) {
    @include font();
    border-bottom: 1px solid $Light_Grayish_Blue;
  }

  &-button {
    background: $Linear_Gradient_H;
    width: 100%;
    border: none;
    color: white;
    padding: 1em;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    
  }

  &:nth-child(2n) {
    background: $Linear_Gradient_V;
  }
  &:nth-child(2n) &-button {
    background: white;
    color: $Dark_Purple;
  }
  &:nth-child(2n) &-title,
  &:nth-child(2n) &-ammount,
  &:nth-child(2n) &-listItem {
    color: white;
  }
  
  @media screen and (min-width: 1024px) {
    margin: 0;
    justify-content: center;

    &:nth-child(2n) {
      max-width: 22vw;
      padding: 3em 2em;
    }

    &:not(:nth-child(2n)) {
      max-width: 20vw;
      padding: 2em 1em;
    }
  }
}
