$Very_Light_Grayish_Blue: hsl(240, 78%, 98%);
$Light_Grayish_Blue: hsl(234, 14%, 74%);
$Dark_Grayish_Blue: hsl(232, 13%, 33%);
$Purple: hsl(237, 63%, 64%);
$Grayish_Blue: hsl(233, 13%, 49%);
$Linear_Gradient_H: linear-gradient(
  90deg,
  hsl(236, 72%, 79%),
  hsl(237, 63%, 64%)
);
$Linear_Gradient_V: linear-gradient(
  180deg,
  hsl(236, 72%, 79%),
  hsl(237, 63%, 64%)
);
